@font-face {
   font-family: Gotham;
   src: url("../fonts/Gotham-Medium.otf");
}
@font-face {
   font-family: Gotham;
   font-weight: bold;
   src: url("../fonts/Gotham-Bold.otf");
}
@font-face {
   font-family: Gotham;
   font-weight: lighter;
   src: url("../fonts/Gotham-Light.otf");
}
.brand {
   h1 {
      background: url("../images/lm-logo.jpg") no-repeat 0 0;
      text-indent: -9999px;
      width: 290px;
      height: 52px;
   }
   .slogan {
      color: #001f5a;
      margin: 0 0 6px 15px;
   }
}

main {
   background-color: #003366;

   .container {
      &-fluid {
         background: rgb(51, 153, 204);
         background: radial-gradient(circle at center 250%, #3399cc, #3399cc, transparent);
      }
   }
}

.reviews {
   .review {
      border-bottom: 1px solid #497baa;
      &:last-child {
         border: none;
      }

      .avatar {
         span {
            font-size: 0.916rem;
            &.name {
               font-size: 1.083rem;
            }
         }
      }

      .read {
         p {
            font-size: 0.916rem;
         }
         a {
            font-size: 0.833rem;
            &:after {
               content: "";
               background: url("/images/read.png") no-repeat center right;
               padding-right: 18px;
            }
         }
      }
   }
}

.link {
   &-info {
      &:after {
      }
   }
}

.icon {
   &:before,
   &:after {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
   }
}

.bulleted {
   &:after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f111";
      font-size: 8px;
      color: #ddd;
   }
}

.zip-input {
   position: relative;
   .badge {
      position: absolute;
      top: 30%;
      left: 15px;
   }
   input[type="text"] {
      padding: 14px 15px;
      padding-left: 55px;
      font-size: 14px;
      border-radius: 0 !important;
   }
}
.select-box {
   position: relative;
   display: block;
   width: 100%;
   margin: 0 auto;
   font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial", sans-serif;
   font-size: 18px;
   color: #60666d;

   &__current {
      position: relative;
      box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
      cursor: pointer;
      outline: none;

      &:focus {
         & + .select-box__list {
            opacity: 1;

            margin-top: 10px;
            // We have to set "animation-name: none;" to make the list visible (read below how it works)

            animation-name: none;

            .select-box__option {
               cursor: pointer;
            }
         }

         .select-box__icon {
            transform: translateY(-50%) rotate(180deg);
         }
      }
   }

   &__icon {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 20px;
      opacity: 0.3;
      transition: 0.2s ease;
   }

   &__value {
      display: flex;
   }

   &__input {
      display: none;

      &:checked + .select-box__input-text {
         display: block;
      }
   }

   &__input-text {
      display: none;
      width: 100%;
      margin: 0;
      padding: 15px;
      padding-left: 55px;
      background-color: #fff;
   }

   &__list {
      position: absolute;
      width: 100%;
      padding: 0;
      list-style: none;
      opacity: 0;

      // We need to use animation with delay.
      // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
      // This delay will not be noticed because we set "opacity" to "0".
      // We also use "animation-fill-mode: forwards" to make the list stay hidden.

      animation-name: HideList;
      animation-duration: 0.5s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: step-start;
      box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
   }

   &__option {
      display: block;
      padding: 15px;
      background-color: #fff;

      &:hover,
      &:focus {
         color: #546c84;
         background-color: #fbfbfb;
      }
   }
}

.ui {
   &-field {
      .select-box {
         &__current {
            .badge {
               position: absolute;
               top: 30%;
               left: 15px;
            }
         }
         &__input-text,
         &__option {
            font-size: 14px;
         }
         &__list {
            border-radius: 1rem;
            background-color: #fff;
            padding: 15px;
         }
         &__option {
            padding: 4px 45px;
            font-weight: 500;
            color: #666;
            &:hover,
            &:focus {
               color: #333;
               background-color: #bcd3e3;
            }
         }
      }
   }
}

@keyframes HideList {
   from {
      transform: scaleY(1);
   }
   to {
      transform: scaleY(0);
   }
}

.modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.5);
   &-content {
      margin: 10% auto;
      width: 35%;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
      animation-name: modalopen;
      animation-duration: var(--modal-duration);
   }

   &-header h2,
   &-footer h3 {
      margin: 0;
   }
   &-header {
      background: var(--modal-color);
      padding: 15px;
      color: #fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      .close {
         color: #333;
         &:hover {
            cursor: pointer;
         }
      }
   }
   &-body {
      padding: 10px 20px;
      background: #fff;
   }
   &-footer {
      background: var(--modal-color);
      padding: 10px;
      color: #fff;
      text-align: center;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
   }
}

@keyframes modalopen {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
